In [21]:
#install faker
!pip install Faker
from faker import Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Faker in /usr/local/lib/python3.9/dist-packages (18.4.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.9/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [50]:
# Create dummy data for account table
import pandas as pd
import random
from faker import Faker
from random import randrange
from datetime import datetime

nr_of_customers = 1000 # the number of rows that are going to be generated

fake = Faker()

accounts = []

for customers_id in range(nr_of_customers):

    # Create transaction date 
    #d1 = datetime.strptime(f'1/1/2021', '%m/%d/%Y')
    #d2 = datetime.strptime(f'8/10/2021', '%m/%d/%Y')
    #transaction_date = fake.date_between(d1, d2)

    #create customer's name
    first_name = fake.first_name()
    last_name = fake.last_name()
    # Create account type
    account_type = random.choice(["B", "S"])

    # Create email 
    email = fake.ascii_email()

    #create account ID in 8-digit barcode
    account_ID = fake.ean(length=8)
    
    #create order id 
    order_ID = fake.ean(length=8)

    #create delivery_date
    delivery_date = datetime.strptime(f'1/1/2021', '%m/%d/%Y')

    #create address id
    address_id = fake.ean(length=8)

    #create address title
    address_title = fake.color_name()

    #create address street name
    addr_street_name = fake.street_address()
    # create address unit
    addr_unit_num = fake.building_number()
    #create address unit state
    addr_state = fake.state()

    #create address zipcode
    addr_zipcode = fake.postcode()

    #create review id
    review_id = fake.ean(length=8)

    #create item_id
    item_id = fake.ean(length=8)

    #create review score
    review_score = fake.random_digit()

    #create review title
    review_title = fake.word()

    #create review body
    review_body = fake.paragraph(nb_sentences=5)

    #create item title
    item_title = fake.sentence(nb_words=2)

    # create item price
    item_price = fake.pyint(max_value=500)
    #create item desc
    item_desc = fake.paragraph(nb_sentences=2)

    #create item_quantity
    item_quantity = fake.random_digit()
    
    #amount_spent = fake.pyfloat(right_digits=2, positive=True, min_value=1, max_value=100)

    accounts.append([first_name, last_name, account_type, email, account_ID, order_ID, delivery_date,
                     address_id, address_title, addr_street_name, addr_state, addr_zipcode,
                     review_id,item_id,review_score,review_title,review_body,item_title,item_price,
                     item_desc, item_quantity])

accounts_df = pd.DataFrame(accounts, columns=['Account_fname', 'Account_lname','Account_type','Email', 'account_ID','order_ID','delivery_date',
                                              'address_ID','address_title','addr_street_name','addr_state','addr_zipcode',
                                              'review_id','item_id','review_score','review_title','review_body','item_title',
                                              'item_price','item_desc','item_quantity']) 
                
pd.pandas.set_option('display.max_columns', None)
print(accounts_df)

    Account_fname Account_lname Account_type                       Email  \
0         Michael         Cohen            B          thomas79@yahoo.com
1           Katie         Riley            S       davisbruce@miller.biz
2            John    Villarreal            S      garrettpaige@gmail.com
3          Pamela         Perez            B           cathy70@gmail.com
4     Christopher     Hernandez            S  christina62@cole-novak.com
..            ...           ...          ...                         ...
995       Michael         Brock            B     camachoamanda@gmail.com
996         Mason       Skinner            B       brownlisa@hotmail.com
997         Sarah          Hale            S     charlotte93@hotmail.com
998      Kristina         Ortiz            B          yvincent@yahoo.com
999         Stacy        Dorsey            S          huffluke@yahoo.com

    account_ID  order_ID delivery_date address_ID    address_title  \
0     24059961  56498516    2021-01-01   86856393    PaleVioletRed
1     92946170  49293135    2021-01-01   75004590             Pink
2     58567401  97422839    2021-01-01   07808425           Yellow
3     06411787  75591953    2021-01-01   83279720   MediumSeaGreen
4     91081681  87188783    2021-01-01   16482784        LightPink
..         ...       ...           ...        ...              ...
995   84652287  46568991    2021-01-01   41565704      YellowGreen
996   29666348  51719760    2021-01-01   02871448      GreenYellow
997   48681018  70794823    2021-01-01   21697852       PapayaWhip
998   81547081  14522130    2021-01-01   93905527  MediumTurquoise
999   19499642  12014491    2021-01-01   28517733       Aquamarine

                 addr_street_name    addr_state addr_zipcode review_id  \
0               800 Cheryl Spring         Texas        85789  27883891
1         54236 Mclean Trafficway          Utah        16961  49497700
2              440 Wallace Summit  North Dakota        16720  65223130
3     18330 Le Mountain Suite 106       Georgia        16263  76862373
4         4873 Boyd View Apt. 424    Washington        10026  57372020
..                            ...           ...          ...       ...
995            9485 Anthony Green      Nebraska        43981  52467707
996               424 Mcneil Pine        Alaska        13410  36932672
997   5673 Cheryl Locks Suite 860        Hawaii        89200  07092176
998          03711 Sheppard Glens      Missouri        90230  23721661
999  92711 Moore Common Suite 764      Arkansas        56305  46455321

      item_id  review_score review_title  \
0    06866525             1      between
1    64313641             8        night
2    55945356             8         room
3    97726531             9         hard
4    44324858             6     resource
..        ...           ...          ...
995  43386451             2    necessary
996  23098909             1         they
997  70440256             0      example
998  39290748             0          day
999  90397837             3         bank

                                           review_body         item_title  \
0    Race cell Congress thousand mouth. View act en...     Morning treat.
1    Again well happen democratic. Film cost figure...        Republican.
2    Party own business real home want position. He...          Research.
3    Develop economy teacher scientist defense. Pro...             Third.
4    Any maybe contain himself upon. Wrong great pr...   Husband picture.
..                                                 ...                ...
995  Decide inside word several race edge onto. Law...  Throughout laugh.
996  Could his possible tend teach address while. O...         Important.
997  Any despite pull. Choose bit relate can eviden...          Discover.
998  Model by who speech education. Catch tonight s...     Believe water.
999  Sense myself call appear employee respond. And...              Hand.

     item_price                                          item_desc  \
0           347  Near ask the anything. Reason dog anything thr...
1           283      Probably strong sell score significant stock.
2           194               Outside see large matter soon laugh.
3           430               Affect decision about military tend.
4            71             Usually increase street see challenge.
..          ...                                                ...
995          92       Foot statement feel window form clearly his.
996         242           People court many move fine star father.
997          27          Walk thus American big process data join.
998         479                      Deep add important fight kid.
999         476  Dark institution candidate song reason. Evenin...

     item_quantity
0                7
1                2
2                1
3                1
4                5
..             ...
995              1
996              2
997              0
998              4
999              5

[1000 rows x 21 columns]

In [51]:
accounts_df.head()

,Account_fname,Account_lname,Account_type,Email,account_ID,order_ID,delivery_date,address_ID,address_title,addr_street_name,addr_state,addr_zipcode,review_id,item_id,review_score,review_title,review_body,item_title,item_price,item_desc,item_quantity
0,Michael,Cohen,B,thomas79@yahoo.com,24059961,56498516,2021-01-01,86856393,PaleVioletRed,800 Cheryl Spring,Texas,85789,27883891,06866525,1,between,Race cell Congress thousand mouth. View act en...,Morning treat.,347,Near ask the anything. Reason dog anything thr...,7
1,Katie,Riley,S,davisbruce@miller.biz,92946170,49293135,2021-01-01,75004590,Pink,54236 Mclean Trafficway,Utah,16961,49497700,64313641,8,night,Again well happen democratic. Film cost figure...,Republican.,283,Probably strong sell score significant stock.,2
2,John,Villarreal,S,garrettpaige@gmail.com,58567401,97422839,2021-01-01,07808425,Yellow,440 Wallace Summit,North Dakota,16720,65223130,55945356,8,room,Party own business real home want position. He...,Research.,194,Outside see large matter soon laugh.,1
3,Pamela,Perez,B,cathy70@gmail.com,06411787,75591953,2021-01-01,83279720,MediumSeaGreen,18330 Le Mountain Suite 106,Georgia,16263,76862373,97726531,9,hard,Develop economy teacher scientist defense. Pro...,Third.,430,Affect decision about military tend.,1
4,Christopher,Hernandez,S,christina62@cole-novak.com,91081681,87188783,2021-01-01,16482784,LightPink,4873 Boyd View Apt. 424,Washington,10026,57372020,44324858,6,resource,Any maybe contain himself upon. Wrong great pr...,Husband picture.,71,Usually increase street see challenge.,5